<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.qhjy.student.mapper.ClassManagerMapper">

    <resultMap id="ClassVOResultMap" type="edu.qhjy.student.vo.ClassVO">
        <result column="szsdm" property="szsdm"/>
        <result column="szsmc" property="szsmc"/>
        <result column="kqdm" property="kqdm"/>
        <result column="xxdm" property="xxdm"/>
        <result column="kqmc" property="kqmc"/>
        <result column="xxmc" property="xxmc"/>
        <result column="bjbs" property="bjbs"/>
        <result column="bjmc" property="bjmc"/>
        <result column="jb" property="jb"/>
        <result column="bzrxm" property="bzrxm"/>
        <result column="bjlx" property="bjlx"/>
        <result column="ysyz" property="ysyz"/>
    </resultMap>

    <select id="selectList" parameterType="edu.qhjy.student.dto.classmanager.ClassQueryDTO"
            resultMap="ClassVOResultMap">
        SELECT
        s.SZSDM AS szsdm,
        s.KQDM AS kqdm,
        s.XXDM AS xxdm,
        k.KQMC AS kqmc,
        s.XXMC AS xxmc,
        b.BJBS AS bjbs,
        b.BJMC AS bjmc,
        b.jb AS jb,
        b.BZRXM AS bzrxm,
        b.BJLX AS bjlx,
        b.YSYZ AS ysyz,
        b.MZYYSKYZ AS mzyyskyz,
        k.SSXZQHMC as szsmc
        FROM
        bjxx b
        LEFT JOIN xxjbxx s ON b.XXDM = s.XXDM
        LEFT JOIN kqxx k ON s.KQDM = k.KQDM
        <where>
            <if test="jb != null">AND b.jb = #{jb}</if>
            <if test="xxdm != null and xxdm != ''">AND s.XXDM = #{xxdm}</if>
            <if test="kqdm != null and kqdm != ''">AND s.KQDM = #{kqdm}</if>
            <if test="szsdm != null and szsdm != ''">AND s.SZSDM = #{szsdm}</if>
        </where>
    </select>

    <select id="selectById" parameterType="java.lang.Long" resultType="edu.qhjy.student.domain.Bjxx">
        SELECT *
        FROM bjxx
        WHERE BJBS = #{id}
    </select>

    <insert id="insert" parameterType="edu.qhjy.student.domain.Bjxx" useGeneratedKeys="true" keyProperty="bjbs">
        INSERT INTO bjxx (BJMC, XXDM, jb, BZRGZRYM, BZRXM, BJLX, YSYZ, MZYYSKYZ)
        VALUES (#{bjmc},
                #{xxdm},
                #{jb},
                #{bzrgzrym},
                #{bzrxm},
                #{bjlx},
                #{ysyz},
                #{mzyyskyz})
    </insert>

    <update id="updateById" parameterType="edu.qhjy.student.domain.Bjxx">
        UPDATE bjxx
        <set>
            <if test="bjmc != null">BJMC = #{bjmc},</if>
            <if test="jb != null">jb = #{jb},</if>
            <if test="bzrxm != null">BZRXM = #{bzrxm},</if>
            <if test="bjlx != null">BJLX = #{bjlx},</if>
            <if test="ysyz != null">YSYZ = #{ysyz},</if>
            <if test="mzyyskyz != null">MZYYSKYZ = #{mzyyskyz},</if>
        </set>
        WHERE BJBS = #{bjbs}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE
        FROM bjxx
        WHERE BJBS = #{id}
    </delete>

    <select id="findStudentByClassId" resultType="edu.qhjy.student.vo.StudentForClassVO">
        SELECT ksh,
               sfzjh,
               xm,
               bjmc
        FROM ksxx
        where bjbs = #{bjbs}
    </select>

    <select id="findAvailableStudentByClassId" resultType="edu.qhjy.student.vo.StudentForClassVO">
        SELECT ks.KSH,
               ks.SFZJH,
               ks.XM,
               bj.BJMC
        FROM ksxx ks
                 INNER JOIN xxjbxx xx ON ks.XXMC = xx.XXMC
                 INNER JOIN bjxx bj ON xx.XXDM = bj.XXDM
        WHERE bj.BJBS = #{bjbs}
    </select>

    <update id="clearStudentsFromClass" parameterType="long">
        UPDATE ksxx
        SET BJBS = NULL,
            BJMC = NULL
        WHERE BJBS = #{bjbs}
    </update>

    <select id="getBjmcAndJbByBjbs" resultType="edu.qhjy.student.dto.classmanager.BjxxDTO" parameterType="long">
        SELECT BJMC, JB
        FROM bjxx
        WHERE BJBS = #{bjbs}
    </select>

    <update id="updateStudentBjbs" parameterType="map">
        UPDATE ksxx
        <set>
            BJBS = #{bjbs},
            BJMC = #{bjmc},
            JB = #{jb}
        </set>
        WHERE KSH IN
        <foreach item="ksh" collection="kshList" open="(" separator="," close=")">
            #{ksh}
        </foreach>
    </update>

</mapper>