<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.qhjy.student.mapper.StudentRegistrationMapper">

    <resultMap id="StudentListResultMap" type="edu.qhjy.student.vo.StudentListVO">
        <!--        <id column="ksbs" property="ksbs"/>-->
        <result column="zpdz" property="zpdz"/>
        <result column="ksh" property="ksh"/>
        <result column="xm" property="xm"/>
        <result column="sfzjh" property="sfzjh"/>
        <result column="jb" property="jb"/>
        <result column="bjmc" property="bjmc"/>
        <result column="xb" property="xb"/>
        <result column="mz" property="mz"/>
        <result column="shzt" property="shzt"/>
        <result column="shyj" property="shyj"/>
        <result column="xxmc" property="xxmc"/>
        <result column="kjztmc" property="kjztmc"/>
    </resultMap>

    <select id="selectStudentList" parameterType="edu.qhjy.student.dto.registeration.AdminStudentQueryDTO"
            resultMap="StudentListResultMap">
        SELECT
        ks.ZPDZ as zpdz,
        ks.KJZTMC as kjztmc,
        s.XXMC AS xxmc,
        <!-- ks.KSBS AS ksbs, -->
        ks.KSH AS ksh,
        ks.XM AS xm,
        ks.SFZJH AS sfzjh,
        b.jb AS jb,
        ks.BJMC AS bjmc,
        ks.XB AS xb,
        ks.MZ AS mz,
        ks.shzt AS shzt,
        ks.SHYJ AS shyj
        FROM
        ksxx ks
        LEFT JOIN bjxx b ON ks.BJBS = b.BJBS
        LEFT JOIN xxjbxx s ON b.XXDM = s.XXDM
        LEFT JOIN kqxx k ON s.KQDM = k.KQDM
        <where>
            <if test="ksh != null and ksh != ''">AND ks.KSH = #{ksh}</if>
            <if test="sfzjh != null and sfzjh != ''">AND ks.SFZJH = #{sfzjh}</if>
            <if test="xm != null and xm != ''">AND ks.XM LIKE CONCAT('%', #{xm}, '%')</if>
            <if test="shzt != null and shzt != ''">AND ks.shzt = #{shzt}</if>
            <if test="bjbs != null">AND b.BJBS = #{bjbs}</if>
            <if test="xxdm != null and xxdm != ''">AND s.XXDM = #{xxdm}</if>
            <if test="kqdm != null and kqdm != ''">AND s.KQDM = #{kqdm}</if>
            <if test="szsdm != null and szsdm != ''">AND s.SZSDM = #{szsdm}</if>
            <if test="jb != null and jb != ''">AND b.jb = #{jb}</if>
        </where>
        ORDER BY ks.CJSJ DESC
    </select>

    <resultMap id="StatisticsResultMap" type="edu.qhjy.student.vo.StatisticsVO">
        <result column="jb" property="jb"/>
        <result column="ssxzqhmc" property="ssxzqhmc"/>
        <result column="kqmc" property="kqmc"/>
        <result column="xxmc" property="xxmc"/>
        <result column="zxrs" property="zxrs"/>
        <result column="xxrs" property="xxrs"/>
        <result column="lsrs" property="lsrs"/>
        <result column="byrs" property="byrs"/>
        <result column="zrs" property="zrs"/>
    </resultMap>

    <select id="selectStatistics" parameterType="edu.qhjy.student.dto.registeration.AdminStatisticsQueryDTO"
            resultMap="StatisticsResultMap">
        SELECT
        b.jb AS jb,
        k.SSXZQHMC AS ssxzqhmc,
        k.KQMC AS kqmc,
        s.XXMC AS xxmc,
        s.XXDM AS xxdm,
        SUM(CASE WHEN ks.KJZTMC = '正常在校' THEN 1 ELSE 0 END) AS zxrs,
        SUM(CASE WHEN ks.KJZTMC = '休学' THEN 1 ELSE 0 END) AS xxrs,
        SUM(CASE WHEN ks.KJZTMC = '流失' THEN 1 ELSE 0 END) AS lsrs,
        SUM(CASE WHEN ks.KJZTMC = '毕业' THEN 1 ELSE 0 END) AS byrs,
        COUNT(ks.KSH) AS zrs
        FROM ksxx ks
        LEFT JOIN bjxx b
        ON ks.BJBS = b.BJBS
        LEFT JOIN xxjbxx s
        ON b.XXDM = s.XXDM
        LEFT JOIN kqxx k
        ON s.KQDM = k.KQDM
        <where>
            <if test="jb != null and jb != ''">
                AND b.jb = #{jb}
            </if>
            <if test="szsdm != null and szsdm != ''">
                AND k.SSXZQHDM = #{szsdm}
            </if>
            <if test="kqdm != null and kqdm != ''">
                AND k.KQDM = #{kqdm}
            </if>
            <if test="xxdm != null and xxdm != ''">
                AND s.XXDM = #{xxdm}
            </if>
        </where>
        GROUP BY b.jb, k.SSXZQHMC, k.KQMC, s.XXMC, s.XXDM
        ORDER BY s.XXDM ASC, b.jb ASC
    </select>

    <resultMap id="ksxxResultMap" type="edu.qhjy.student.domain.Ksxx">
        <id column="KSH" property="ksh"/>
        <result column="XJH" property="xjh"/>
        <result column="XM" property="xm"/>
        <result column="XB" property="xb"/>
        <result column="MZ" property="mz"/>
        <result column="CSRQ" property="csrq"/>
        <result column="SCSBLHDQMC" property="scsblhdqmc"/>
        <result column="SCSBLHDSMC" property="scsblhdsmc"/>
        <result column="SCSBLHDXMC" property="scsblhdxmc"/>
        <result column="SFZJLXMC" property="sfzjlxmc"/>
        <result column="SFZJH" property="sfzjh"/>
        <result column="JTXXDZQMC" property="jtxxdzqmc"/>
        <result column="JTXXDZSMC" property="jtxxdzsmc"/>
        <result column="JTXXDZXMC" property="jtxxdzxmc"/>
        <result column="SZQMC" property="szqmc"/>
        <result column="SZSMC" property="szsmc"/>
        <result column="SZXMC" property="szxmc"/>
        <result column="YHJSZQMC" property="yhjszqmc"/>
        <result column="YHJSZSMC" property="yhjszsmc"/>
        <result column="YHJSZXMC" property="yhjszxmc"/>
        <result column="QRXZSJ" property="qrxzsj"/>
        <result column="ZPDZ" property="zpdz"/>
        <result column="YDDH" property="yddh"/>
        <result column="XXMC" property="xxmc"/>
        <result column="BJMC" property="bjmc"/>
        <result column="BJBS" property="bjbs"/>
        <result column="KJYDJLBS" property="kjydjlbs"/>
        <result column="HKLX" property="hklx"/>

        <!-- 新增扫描件字段 -->
        <result column="KS_SFZ_ZM" property="ksSfzZm"/>
        <result column="KS_SFZ_FM" property="ksSfzFm"/>
        <result column="FQ_HKB_SY" property="fqHkbSy"/>
        <result column="FQ_HKB_BN" property="fqHkbBn"/>
        <result column="JHR_HKB_SY" property="jhrHkbSy"/>
        <result column="JHR_HKB_BN" property="jhrHkbBn"/>
        <result column="KS_HKB_SY" property="ksHkbSy"/>
        <result column="KS_HKB_BN" property="ksHkbBn"/>
        <result column="MQ_HKB_SY" property="mqHkbSy"/>
        <result column="MQ_HKB_BN" property="mqHkbBn"/>
    </resultMap>

    <select id="findStudentInfoByKsh" resultMap="ksxxResultMap">
        SELECT *
        FROM ksxx
        WHERE KSH = #{ksh}
    </select>

    <select id="findGuardianInfoByKsh" resultType="edu.qhjy.student.domain.Jhrxx">
        SELECT *
        FROM jhrxx
        WHERE KSH = #{ksh}
    </select>

    <select id="findAcademicHistoryByKsh" resultType="edu.qhjy.student.domain.Xlxx">
        SELECT *
        FROM xlxx
        WHERE KSH = #{ksh}
    </select>

    <select id="existsByKsh" resultType="int">
        SELECT count(1)
        FROM ksxx
        WHERE KSH = #{ksh}
    </select>


    <insert id="insertStudentInfo" parameterType="edu.qhjy.student.domain.Ksxx" useGeneratedKeys="true"
            keyProperty="ksbs">
        INSERT INTO ksxx (KSH, XJH, XM, XB, MZ, CSRQ,
                          SCSBLHDQMC, SCSBLHDSMC, SCSBLHDXMC, SFZJLXMC, SFZJH,
                          JTXXDZQMC, JTXXDZSMC, JTXXDZXMC,
                          SZQMC, SZSMC, SZXMC, KQMC,
                          YHJSZQMC, YHJSZSMC, YHJSZXMC,
                          QRXZSJ, QRYY, ZQZH, QYZH,
                          ZPDZ, ZZMM, KSLX,
                          YDDH, YSYZ, MZYYSKYZ,
                          KJZTMC, XXMC, JB, BJBS, BJMC, RXND, BYND,
                          SHJD, SHZT, SHSJ, SHRXM, SHYJ,
                          CJRXM, CJRGZRYM,
                          GXRXM, GXRGZRYM,
                          KJYDJLBS, HKLX,
                          KS_SFZ_ZM, KS_SFZ_FM,
                          FQ_HKB_SY, FQ_HKB_BN,
                          JHR_HKB_SY, JHR_HKB_BN,
                          KS_HKB_SY, KS_HKB_BN,
                          MQ_HKB_SY, MQ_HKB_BN)
        VALUES (#{ksh}, #{xjh}, #{xm}, #{xb}, #{mz}, #{csrq},
                #{scsblhdqmc}, #{scsblhdsmc}, #{scsblhdxmc}, #{sfzjlxmc}, #{sfzjh},
                #{jtxxdzqmc}, #{jtxxdzsmc}, #{jtxxdzxmc},
                #{szqmc}, #{szsmc}, #{szxmc}, (SELECT kqmc FROM kqxx WHERE kqdm = (SELECT kqdm FROM xxjbxx WHERE xxmc = #{xxmc})),
                #{yhjszqmc}, #{yhjszsmc}, #{yhjszxmc},
                #{qrxzsj}, #{qryy}, #{zqzh}, #{qyzh},
                #{zpdz}, #{zzmm}, #{kslx},
                #{yddh}, #{ysyz}, #{mzyyskyz},
                #{kjztmc}, #{xxmc}, #{jb}, #{bjbs}, #{bjmc}, #{rxnd}, #{bynd},
                #{shjd}, #{shzt}, #{shsj}, #{shrxm}, #{shyj},
                #{cjrxm}, #{cjrgzrym},
                #{gxrxm}, #{gxrgzrym},
                #{kjydjlbs}, #{hklx},
                #{ksSfzZm}, #{ksSfzFm},
                #{fqHkbSy}, #{fqHkbBn},
                #{jhrHkbSy}, #{jhrHkbBn},
                #{ksHkbSy}, #{ksHkbBn},
                #{mqHkbSy}, #{mqHkbBn})
    </insert>

    <insert id="insertGuardians">
        INSERT INTO jhrxx (KSH, GX, XM, SFZJH, SZQMC, SZSMC, SZXMC,MZ, YDDH, GZDWMC, GZDWZW)
        VALUES
        <foreach collection="guardians" item="item" separator=",">
            (#{item.ksh}, #{item.gx}, #{item.xm}, #{item.sfzjh},#{item.szqmc},#{item.szsmc},#{item.szxmc}, #{item.mz},
            #{item.yddh}, #{item.gzdwmc},
            #{item.gzdwzw})
        </foreach>
    </insert>

    <insert id="insertAcademicHistories">
        INSERT INTO xlxx (KSH, XL, KSRQ, JZRQ, XXMC, ZMRXM, ZMRZW, ZMRDW)
        VALUES
        <foreach collection="academicHistories" item="item" separator=",">
            (#{item.ksh}, #{item.xl}, #{item.ksrq}, #{item.jzrq}, #{item.xxmc}, #{item.zmrxm}, #{item.zmrzw},
            #{item.zmrdw})
        </foreach>
    </insert>


    <update id="updateStudentInfo" parameterType="edu.qhjy.student.domain.Ksxx">
        UPDATE ksxx
        <set>
            <if test="xjh != null">xjh = #{xjh},</if>
            <if test="xm != null">xm = #{xm},</if>
            <if test="xb != null">xb = #{xb},</if>
            <if test="mz != null">mz = #{mz},</if>
            <if test="csrq != null">csrq = #{csrq},</if>
            <if test="sfzjh != null">sfzjh = #{sfzjh},</if>
            <if test="xxmc != null">xxmc = #{xxmc},</if>
            <if test="bjmc != null">bjmc = #{bjmc},</if>
            <if test="yddh != null">yddh = #{yddh},</if>
            <if test="scsblhdqmc != null">scsblhdqmc = #{scsblhdqmc},</if>
            <if test="scsblhdsmc != null">scsblhdsmc = #{scsblhdsmc},</if>
            <if test="scsblhdxmc != null">scsblhdxmc = #{scsblhdxmc},</if>
            <if test="sfzjlxmc != null">sfzjlxmc = #{sfzjlxmc},</if>
            <if test="jtxxdzqmc != null">jtxxdzqmc = #{jtxxdzqmc},</if>
            <if test="jtxxdzsmc != null">jtxxdzsmc = #{jtxxdzsmc},</if>
            <if test="jtxxdzxmc != null">jtxxdzxmc = #{jtxxdzxmc},</if>
            <if test="yhjszqmc != null">yhjszqmc = #{yhjszqmc},</if>
            <if test="yhjszsmc != null">yhjszsmc = #{yhjszsmc},</if>
            <if test="yhjszxmc != null">yhjszxmc = #{yhjszxmc},</if>
            <if test="szqmc != null">szqmc = #{szqmc},</if>
            <if test="szsmc != null">szsmc = #{szsmc},</if>
            <if test="szxmc != null">szxmc = #{szxmc},</if>
            <if test="qrxzsj != null">qrxzsj = #{qrxzsj},</if>
            <!--            <if test="zpdz != null">zpdz = #{zpdz},</if>-->
            <if test="bjbs != null">bjbs = #{bjbs},</if>
            <if test="mzyyskyz != null">mzyyskyz = #{mzyyskyz},</if>
            <if test="ysyz != null">ysyz = #{ysyz},</if>
            <if test="shzt != null">shzt = #{shzt},</if>
            <if test="shjd != null">shjd = #{shjd},</if>
            <if test="shyj != null">shyj = #{shyj},</if>
            <if test="shrxm != null">shrxm = #{shrxm},</if>
            <if test="shsj != null">shsj = #{shsj},</if>
            <if test="zzmm!= null">zzmm = #{zzmm},</if>
            <if test="kjztmc != null">kjztmc = #{kjztmc},</if>
            <if test="kslx != null">kslx = #{kslx},</if>
            <if test="hklx != null">hklx = #{hklx},</if>
            <!--            <if test="ksSfzZm != null">ks_sfz_zm = #{ksSfzZm},</if>-->
            <!--            <if test="ksSfzFm != null">ks_sfz_fm = #{ksSfzFm},</if>-->
            <!--            <if test="fqHkbSy != null">fq_hkb_sy = #{fqHkbSy},</if>-->
            <!--            <if test="fqHkbBn != null">fq_hkb_bn = #{fqHkbBn},</if>-->
            <!--            <if test="jhrHkbSy != null">jhr_hkb_sy = #{jhrHkbSy},</if>-->
            <!--            <if test="jhrHkbBn != null">jhr_hkb_bn = #{jhrHkbBn},</if>-->
            <!--            <if test="ksHkbSy != null">ks_hkb_sy = #{ksHkbSy},</if>-->
            <!--            <if test="ksHkbBn != null">ks_hkb_bn = #{ksHkbBn},</if>-->
            <!--            <if test="mqHkbSy != null">mq_hkb_sy = #{mqHkbSy},</if>-->
            <!--            <if test="mqHkbBn != null">mq_hkb_bn = #{mqHkbBn},</if>-->
            zpdz = #{zpdz},
            ks_sfz_zm = #{ksSfzZm},
            ks_sfz_fm = #{ksSfzFm},
            fq_hkb_sy = #{fqHkbSy},
            fq_hkb_bn = #{fqHkbBn},
            jhr_hkb_sy = #{jhrHkbSy},
            jhr_hkb_bn = #{jhrHkbBn},
            ks_hkb_sy = #{ksHkbSy},
            ks_hkb_bn = #{ksHkbBn},
            mq_hkb_sy = #{mqHkbSy},
            mq_hkb_bn = #{mqHkbBn}
        </set>
        WHERE ksh = #{ksh}
    </update>

    <delete id="deleteGuardiansByKsh">
        DELETE
        FROM jhrxx
        WHERE KSH = #{ksh}
    </delete>

    <delete id="deleteAcademicHistoriesByKsh">
        DELETE
        FROM xlxx
        WHERE KSH = #{ksh}
    </delete>

    <delete id="deleteStudentByKsh">
        DELETE
        FROM ksxx
        WHERE KSH = #{ksh}
    </delete>

    <select id="findIfSchoolExistBySchoolName" resultType="int">
        SELECT COUNT(1)
        FROM xxjbxx
        WHERE XXMC = #{xxmc}
    </select>
</mapper>