<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.qhjy.student.mapper.StudentRegistrationMapper">

    <select id="findSchoolDmBySchoolName" resultType="java.lang.String">
        SELECT DM
        FROM XYZDK
        WHERE MC = #{schoolName}
          AND JH = 'ZX'
        LIMIT 1
    </select>

    <resultMap id="StudentListResultMap" type="edu.qhjy.student.vo.StudentListVO">
        <result column="zpdz" property="zpdz"/>
        <result column="ksh" property="ksh"/>
        <result column="xm" property="xm"/>
        <result column="sfzjh" property="sfzjh"/>
        <result column="jb" property="jb"/>
        <result column="bjmc" property="bjmc"/>
        <result column="xb" property="xb"/>
        <result column="mz" property="mz"/>
        <result column="shzt" property="shzt"/>
        <result column="shyj" property="shyj"/>
        <result column="xxmc" property="xxmc"/>
        <result column="kjztmc" property="kjztmc"/>
    </resultMap>

    <select id="selectStudentList" parameterType="edu.qhjy.student.dto.registeration.AdminStudentQueryDTO"
            resultMap="StudentListResultMap">
        SELECT
        ks.ZPDZ as zpdz,
        ks.KJZTMC as kjztmc,
        school.MC AS xxmc, -- [REFACTORED]
        ks.KSH AS ksh,
        ks.XM AS xm,
        ks.SFZJH AS sfzjh,
        b.jb AS jb,
        ks.BJMC AS bjmc,
        ks.XB AS xb,
        ks.MZ AS mz,
        ks.shzt AS shzt,
        ks.SHYJ AS shyj
        FROM
        ksxx ks
        LEFT JOIN bjxx b ON ks.BJBS = b.BJBS
        LEFT JOIN XYZDK school ON ks.XXDM = school.DM AND school.JH = 'ZX'
        LEFT JOIN XYZDK area ON SUBSTR(school.DM, 1, 2) = area.DM AND area.JH = 'KD'
        LEFT JOIN XYZDK city ON SUBSTR(school.DM, 1, 1) = city.DM AND city.JH = 'KQ'
        <where>
            <if test="ksh != null and ksh != ''">AND ks.KSH = #{ksh}</if>
            <if test="sfzjh != null and sfzjh != ''">AND ks.SFZJH = #{sfzjh}</if>
            <if test="xm != null and xm != ''">AND ks.XM LIKE CONCAT('%', #{xm}, '%')</if>
            <if test="shzt != null and shzt != ''">AND ks.shzt = #{shzt}</if>
            <if test="bjbs != null">AND b.BJBS = #{bjbs}</if>
            <if test="xxdm != null and xxdm != ''">AND school.DM = #{xxdm}</if>
            <if test="kqdm != null and kqdm != ''">AND area.DM = #{kqdm}</if>
            <if test="szsdm != null and szsdm != ''">AND city.DM = #{szsdm}</if>
            <if test="jb != null and jb != ''">AND b.jb = #{jb}</if>
        </where>
        ORDER BY ks.CJSJ DESC
    </select>

    <resultMap id="StatisticsResultMap" type="edu.qhjy.student.vo.StatisticsVO">
        <result column="jb" property="jb"/>
        <result column="ssxzqhmc" property="ssxzqhmc"/>
        <result column="kqmc" property="kqmc"/>
        <result column="xxmc" property="xxmc"/>
        <result column="zxrs" property="zxrs"/>
        <result column="xxrs" property="xxrs"/>
        <result column="lsrs" property="lsrs"/>
        <result column="byrs" property="byrs"/>
        <result column="zrs" property="zrs"/>
    </resultMap>

    <select id="selectStatistics" parameterType="edu.qhjy.student.dto.registeration.AdminStatisticsQueryDTO"
            resultMap="StatisticsResultMap">
        SELECT
        b.jb AS jb,
        city.MC AS ssxzqhmc, -- [REFACTORED]
        area.MC AS kqmc, -- [REFACTORED]
        school.MC AS xxmc, -- [REFACTORED]
        school.DM AS xxdm, -- [REFACTORED]
        SUM(CASE WHEN ks.KJZTMC = '正常在校' THEN 1 ELSE 0 END) AS zxrs,
        SUM(CASE WHEN ks.KJZTMC = '休学' THEN 1 ELSE 0 END) AS xxrs,
        SUM(CASE WHEN ks.KJZTMC = '流失' THEN 1 ELSE 0 END) AS lsrs,
        SUM(CASE WHEN ks.KJZTMC = '毕业' THEN 1 ELSE 0 END) AS byrs,
        COUNT(ks.KSH) AS zrs
        FROM ksxx ks
        LEFT JOIN bjxx b ON ks.BJBS = b.BJBS
        LEFT JOIN XYZDK school ON ks.XXDM = school.DM AND school.JH = 'ZX'
        LEFT JOIN XYZDK area ON SUBSTR(school.DM, 1, 2) = area.DM AND area.JH = 'KD'
        LEFT JOIN XYZDK city ON SUBSTR(school.DM, 1, 1) = city.DM AND city.JH = 'KQ'
        <where>
            <if test="jb != null and jb != ''">
                AND b.jb = #{jb}
            </if>
            <if test="szsdm != null and szsdm != ''">
                AND city.DM = #{szsdm}
            </if>
            <if test="kqdm != null and kqdm != ''">
                AND area.DM = #{kqdm}
            </if>
            <if test="xxdm != null and xxdm != ''">
                AND school.DM = #{xxdm}
            </if>
        </where>
        GROUP BY b.jb, city.MC, area.MC, school.MC, school.DM
        ORDER BY school.DM ASC, b.jb ASC
    </select>

    <resultMap id="ksxxResultMap" type="edu.qhjy.student.domain.Ksxx">
    </resultMap>

    <select id="findStudentInfoByKsh" resultMap="ksxxResultMap">
        SELECT *
        FROM ksxx
        WHERE KSH = #{ksh}
    </select>
    <select id="findGuardianInfoByKsh" resultType="edu.qhjy.student.domain.Jhrxx">
        SELECT *
        FROM jhrxx
        WHERE KSH = #{ksh}
    </select>
    <select id="findAcademicHistoryByKsh" resultType="edu.qhjy.student.domain.Xlxx">
        SELECT *
        FROM xlxx
        WHERE KSH = #{ksh}
    </select>
    <select id="existsByKsh" resultType="int">
        SELECT count(1)
        FROM ksxx
        WHERE KSH = #{ksh}
    </select>

    <insert id="insertStudentInfo" parameterType="edu.qhjy.student.domain.Ksxx" useGeneratedKeys="true"
            keyProperty="ksbs">
        INSERT INTO ksxx (XXDM, -- [NEW] 新增XXDM字段
                          KSH, XJH, XM, XB, MZ, CSRQ,
                          SCSBLHDQMC, SCSBLHDSMC, SCSBLHDXMC, SFZJLXMC, SFZJH,
                          JTXXDZQMC, JTXXDZSMC, JTXXDZXMC,
                          SZQMC, SZSMC, SZXMC, KQMC,
                          YHJSZQMC, YHJSZSMC, YHJSZXMC,
                          QRXZSJ, QRYY, ZQZH, QYZH,
                          ZPDZ, ZZMM, KSLX,
                          YDDH, YSYZ, MZYYSKYZ,
                          KJZTMC, XXMC, JB, BJBS, BJMC, RXND, BYND,
                          SHJD, SHZT, SHSJ, SHRXM, SHYJ,
                          CJRXM, CJRGZRYM,
                          GXRXM, GXRGZRYM,
                          KJYDJLBS, HKLX,
                          KS_SFZ_ZM, KS_SFZ_FM, FQ_HKB_SY, FQ_HKB_BN,
                          JHR_HKB_SY, JHR_HKB_BN, KS_HKB_SY, KS_HKB_BN,
                          MQ_HKB_SY, MQ_HKB_BN)
        VALUES (#{xxdm}, -- [NEW] 插入XXDM的值
                #{ksh}, #{xjh}, #{xm}, #{xb}, #{mz}, #{csrq},
                #{scsblhdqmc}, #{scsblhdsmc}, #{scsblhdxmc}, #{sfzjlxmc}, #{sfzjh},
                #{jtxxdzqmc}, #{jtxxdzsmc}, #{jtxxdzxmc},
                #{szqmc}, #{szsmc}, #{szxmc},
                   -- [REFACTORED] 重写获取KQMC的子查询
                (SELECT area.MC
                 FROM XYZDK school
                          JOIN XYZDK area ON SUBSTR(school.DM, 1, 2) = area.DM
                 WHERE school.DM = #{xxdm}
                   AND school.JH = 'ZX'
                   AND area.JH = 'KD'
                 LIMIT 1),
                #{yhjszqmc}, #{yhjszsmc}, #{yhjszxmc},
                #{qrxzsj}, #{qryy}, #{zqzh}, #{qyzh},
                #{zpdz}, #{zzmm}, #{kslx},
                #{yddh}, #{ysyz}, #{mzyyskyz},
                #{kjztmc}, #{xxmc}, #{jb}, #{bjbs}, #{bjmc}, #{rxnd}, #{bynd},
                #{shjd}, #{shzt}, #{shsj}, #{shrxm}, #{shyj},
                #{cjrxm}, #{cjrgzrym},
                #{gxrxm}, #{gxrgzrym},
                #{kjydjlbs}, #{hklx},
                #{ksSfzZm}, #{ksSfzFm}, #{fqHkbSy}, #{fqHkbBn},
                #{jhrHkbSy}, #{jhrHkbBn}, #{ksHkbSy}, #{ksHkbBn},
                #{mqHkbSy}, #{mqHkbBn})
    </insert>

    <insert id="insertGuardians">
        INSERT INTO jhrxx (KSH, GX, XM, SFZJH, SZQMC, SZSMC, SZXMC,MZ, YDDH, GZDWMC, GZDWZW)
        VALUES
        <foreach collection="guardians" item="item" separator=",">
            (#{item.ksh}, #{item.gx}, #{item.xm}, #{item.sfzjh},#{item.szqmc},#{item.szsmc},#{item.szxmc}, #{item.mz},
            #{item.yddh}, #{item.gzdwmc}, #{item.gzdwzw})
        </foreach>
    </insert>
    <insert id="insertAcademicHistories">
        INSERT INTO xlxx (KSH, XL, KSRQ, JZRQ, XXMC, ZMRXM, ZMRZW, ZMRDW)
        VALUES
        <foreach collection="academicHistories" item="item" separator=",">
            (#{item.ksh}, #{item.xl}, #{item.ksrq}, #{item.jzrq}, #{item.xxmc}, #{item.zmrxm}, #{item.zmrzw},
            #{item.zmrdw})
        </foreach>
    </insert>

    <update id="updateStudentInfo" parameterType="edu.qhjy.student.domain.Ksxx">
        UPDATE ksxx
        <set>
            <if test="xxdm != null">xxdm = #{xxdm},</if>
            <if test="xjh != null">xjh = #{xjh},</if>
            <if test="xm != null">xm = #{xm},</if>
            <if test="xb != null">xb = #{xb},</if>
            <if test="mz != null">mz = #{mz},</if>
            <if test="csrq != null">csrq = #{csrq},</if>
            <if test="sfzjh != null">sfzjh = #{sfzjh},</if>
            <if test="xxmc != null">xxmc = #{xxmc},</if>
            <if test="bjmc != null">bjmc = #{bjmc},</if>
            <if test="yddh != null">yddh = #{yddh},</if>
            <if test="scsblhdqmc != null">scsblhdqmc = #{scsblhdqmc},</if>
            <if test="scsblhdsmc != null">scsblhdsmc = #{scsblhdsmc},</if>
            <if test="scsblhdxmc != null">scsblhdxmc = #{scsblhdxmc},</if>
            <if test="sfzjlxmc != null">sfzjlxmc = #{sfzjlxmc},</if>
            <if test="jtxxdzqmc != null">jtxxdzqmc = #{jtxxdzqmc},</if>
            <if test="jtxxdzsmc != null">jtxxdzsmc = #{jtxxdzsmc},</if>
            <if test="jtxxdzxmc != null">jtxxdzxmc = #{jtxxdzxmc},</if>
            <if test="yhjszqmc != null">yhjszqmc = #{yhjszqmc},</if>
            <if test="yhjszsmc != null">yhjszsmc = #{yhjszsmc},</if>
            <if test="yhjszxmc != null">yhjszxmc = #{yhjszxmc},</if>
            <if test="szqmc != null">szqmc = #{szqmc},</if>
            <if test="szsmc != null">szsmc = #{szsmc},</if>
            <if test="szxmc != null">szxmc = #{szxmc},</if>
            <if test="qrxzsj != null">qrxzsj = #{qrxzsj},</if>
            <if test="bjbs != null">bjbs = #{bjbs},</if>
            <if test="mzyyskyz != null">mzyyskyz = #{mzyyskyz},</if>
            <if test="ysyz != null">ysyz = #{ysyz},</if>
            <if test="shzt != null">shzt = #{shzt},</if>
            <if test="shjd != null">shjd = #{shjd},</if>
            <if test="shyj != null">shyj = #{shyj},</if>
            <if test="shrxm != null">shrxm = #{shrxm},</if>
            <if test="shsj != null">shsj = #{shsj},</if>
            <if test="zzmm!= null">zzmm = #{zzmm},</if>
            <if test="kjztmc != null">kjztmc = #{kjztmc},</if>
            <if test="kslx != null">kslx = #{kslx},</if>
            <if test="hklx != null">hklx = #{hklx},</if>
            zpdz = #{zpdz},
            ks_sfz_zm = #{ksSfzZm},
            ks_sfz_fm = #{ksSfzFm},
            fq_hkb_sy = #{fqHkbSy},
            fq_hkb_bn = #{fqHkbBn},
            jhr_hkb_sy = #{jhrHkbSy},
            jhr_hkb_bn = #{jhrHkbBn},
            ks_hkb_sy = #{ksHkbSy},
            ks_hkb_bn = #{ksHkbBn},
            mq_hkb_sy = #{mqHkbSy},
            mq_hkb_bn = #{mqHkbBn}
        </set>
        WHERE ksh = #{ksh}
    </update>

    <delete id="deleteGuardiansByKsh">
        DELETE
        FROM jhrxx
        WHERE KSH = #{ksh}
    </delete>
    <delete id="deleteAcademicHistoriesByKsh">
        DELETE
        FROM xlxx
        WHERE KSH = #{ksh}
    </delete>
    <delete id="deleteStudentByKsh">
        DELETE
        FROM ksxx
        WHERE KSH = #{ksh}
    </delete>

    <select id="findIfSchoolExistBySchoolName" resultType="int">
        SELECT COUNT(1)
        FROM XYZDK
        WHERE MC = #{xxmc}
          AND JH = 'ZX'
    </select>
</mapper>